<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Daria" content="nume-autor">
        <meta name="BookLovers" content="descriere">
        <meta name="carte" content="cuvinte cheie">
        <title>COPII</title>
        <!--style--> 
        <link href="../CSS/template_style.css" type="text/css" rel="stylesheet">
        <!--fav_icon-->
        <link href="../POZE/favicon.png" rel = " schrtcut icon">
        <!--FontAwesome_Icons-->
        <script src = "https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
       
    </head>

    <body>
        <!--navigare-->
        <nav class id="navigare">
            <!--social link-->
            <div class = "social-contact">
                <div class = "social">
                    <a href ="#"><i class = "fab fa-facebook-f"></i></a>
                    <a href ="#"><i class = "fab fa-instagram"></i></a>
                    <a href ="#"><i class = "fab fa-youtube"></i></a>
                </div>
               
                <!--phone_number-->
                <div class = "phone_number">
                    <span>Call +407589878785</span>
                </div>
            </div>
        <!--bara meniu-->
        <div class="navigare" >
            <!--meniu-->
            <div class = "meniu" id="navigator">
            <ul>
                <li><a href= "index.html">Acasa</a></li>
                <li><a href= "copii.html">Copii</a>
                    <div class = "sub-meniu" >
                        <ul>
                            <li><a href = "carti_scolare.html">Carti scolare</a></li>
                            <li><a href = "povesti_basme.html">Povesti si basme</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href= "literatura_universala.html">Literatura universala</a></li>
                <li><a href= "quiz.html">Testeza-ti cunostintele</a></li>
                <li><a href= "magazin.html">Cumpara</a></li>
            </ul>
            </div>
            <!--meniu_dreapta-->
            <div class = "meniu-dreapta">
                <!--cautare-->
                <a href = "#">
                    <i class = "fas fa-search" ></i>
                </a>
                 <!--utilizator-->
                <a href = "login.html">
                    <i class = "far fa-user" ></i>
                </a>
                 <!--cos_cumparaturi-->
                <a href = "#">
                    <i class = "fas fa-shopping-cart" >
                    <!--numar produse-->
                    <span class = "numar-produse">0</span>
                    </i>
                </a>
                
            </div>
        </div>

        </nav>
        <main class="page-main">
            <h1>ARTICOLE PENTRU COPII</h1>
            <img id="img1" src="../POZE/copii1.jpg" alt="">
            <h2>De ce e important sa citim?</h2>
            <p>Lectura la o varsta frageda ajuta la dezvoltarea intelectului si are consecinte favorabile in 
                parcursul educativ. Iata doar cateva rezultate ale cititului: deprinderea de aptitudini precum analiza,
                 perceptia, dezvoltarea gandirii analitice si imbunatatirea capacitatii de vizualizare prin imaginatie. </p>
            <p id="p2">Cititul ajuta la extinderea vocabularului, ajuta la asocierea cuvintelor, la evolutia perceptiei
                 si analizei detaliilor. In fond, citim ca sa ne descoperim pe noi si sa intelegem mai bine lumea in care traim.</p>
            <p id="p3">Lectura poate deveni un hobby care sa-i  insoteasca toata viata. Prin lectura copiii si adolescentii
                 empatizeaza cu eroii si eroinele din cartile care dau savoare copilariei si adolescentei. Pe de alta parte,
                  cartea poate fi privita si ca un consilier psihologic. Cititul devine astfel terapie si, pe termen lung,
                   un proces de reflectie. Capacitatea de concentrare este in directa legatura cu cititul. </p>
            <h2>Personajele preferate ale copiilor</h2>
            <ul>
                <li>
                    <h2>1.Alba ca Zapada </h2>
                     <p>Cine nu isi aminteste povestea Albei ca Zapada? De fapt, aceasta poveste este cat se poate de populara printre copii.
                     Fetitele sunt fascinate de povestile cu printi si printese, tocmai de aceea un set de papusi sau jucarii prezentand 
                     aceste personaje minunate va fi un cadou perfect.</p>
                     <img id="az" src="../POZE/albacazapada.jpg" alt="">
                     <h2 id = "pov_ab">APASA AICI PENTRU A ASCULTA POVESTEA</h2>
                     <audio id="audio_book" controls autoplay muted>
                            <source src="../POZE/alba_ca_zapada.mp3" type="audio/mpeg">
                      </audio>
                </li>
                <li>
                    <h2>2.Spider Man</h2>
                    <p>Unul dintre cei mai populari supereroi printre cei mici, Spider Man este salvatorul care invinge
                       toti raufacatorii. </p>
                       <p>Acest personaj de desene animate este extrem de popular printre baieti, care se viseaza 
                       supereroi ei insusi.</p>
                    <img id="spm" src="../POZE/spiderman.jpg" alt="">
                </li>
                <li>
                    <h2>3.Mickey Mouse </h2>
                    <p>Unul dintre cele mai indragite personaje din anii copilariei este Mickey Mouse.</p>
                    <p>Aventurile acestuia alaturi de multele activitati desfasurate sunt un adevarat mijloc educativ pentru cei mici.</p>
                    <img id="mm" src="../POZE/mikey.jpg" alt = "">
                    <h2 id = "hot-dog">APASA AICI PENTRU A ASCULTA MELODIA  Dansului Hot Dog</h2>
                    <audio id="audio_book2" controls autoplay muted>
                           <source src="../POZE/MickeyMouse.mp3" type="audio/mpeg">
                     </audio>
                        
                </li>

            </ul>
        </main>
                
        <footer class="footer" >
            <h3 id= "citat">
                Bucura-te de cat mai multe carti!
            </h3>
            <p class="copyright">&copy; Copyright 2021  Daria Runceanu</p>
            <br>
            <br>
        </footer>

        <script src= "./JavaScript/benzi_desenate.js" ></script>
        

        </body>

</html>
