<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Daria" content="nume-autor">
        <meta name="BookLovers" content="descriere">
        <meta name="carte" content="cuvinte cheie">
        <title>LOGIN</title>
        <!--style--> 
        <link href="../CSS/template_style.css" type="text/css" rel="stylesheet">
        <!--fav_icon-->
        <link href="../POZE/favicon_login.png" rel = " schrtcut icon">
        <!--FontAwesome_Icons-->
        <script src = "https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
       

    </head>

    <body>
      
        <!--navigare-->
        <nav class id="navigare">
            <!--social link-->
            <div class = "social-contact">
                <div class = "social">
                    <a href ="#"><i class = "fab fa-facebook-f"></i></a>
                    <a href ="#"><i class = "fab fa-instagram"></i></a>
                    <a href ="#"><i class = "fab fa-youtube"></i></a>
                </div>
               
                <!--phone_number-->
                <div class = "phone_number">
                    <span>Call +407589878785</span>
                </div>
            </div>
        <!--bara meniu-->
        <div class="navigare" >
                <!--meniu-->
            <div class = "meniu" id="navigator">
               
            <ul>
                <li> <a href = "index.html">Acasa</a></li>
                <li><a href= "copii.html">Copii</a>
                    <div class = "sub-meniu" >
                        <ul>
                            <li><a href = "carti_scolare.html">Carti scolare</a></li>
                            <li><a href = "povesti_basme.html">Povesti si basme</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href= "literatura_universala.html">Literatura universala</a></li>
                <li><a href= "quiz.html" id="quiz">Testeza-ti cunostintele</a></li>
                <li><a >Cumpara</a></li>
            </ul>
            </div>
            <!--meniu_dreapta-->
            <div class = "meniu-dreapta">
                <!--cautare-->
                <a href = "#">
                    <i class = "fas fa-search" ></i>
                </a>
                 <!--utilizator-->
                <a href ="login.html">
                    <i class = "far fa-user" ></i>
                </a>
                 <!--cos_cumparaturi-->
                <a href = "#">
                    <i class = "fas fa-shopping-cart" >
                    <!--numar produse-->
                    <span class = "numar-produse">0</span>
                    </i>
                </a>
                
            </div>
        </div>

        </nav>
        
        <h1 id="login-title">LOGIN</h1>
        <div id="loginContent"></div>
        

        <section class ="login">
            <form method="post" action="http://localhost:3000/users/login" onsubmit="return validezaEmail();" name = "formular">
                <label>
                Nume: <input type="text" name="nume" 
               value="">
                </label>
                <br>
                <label>
                Parola: <input type="password" name="parola" 
               value="">
                </label> 
                <br>
                <label>
                    E-mail: <input type="text" name="email" pattern="/^.+\@.+\..+$\"
                   value="">
                </label>
                <input type="submit" value="Login">
               </form>
         </section>
        <footer class="footer">
            <h3 id= "citat">
                Bucura-te de cat mai multe carti!
            </h3>
            <p class="copyright">&copy; Copyright 2021  Daria Runceanu</p>
            <br>
            <br>
        </footer>
        <script src= "./JavaScript/validare.js" ></script>
        </body>

        </html>
