body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: wheat;
    }


/*selector universal*/
*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    width:100%;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.05);
    z-index: 100;
}

.social-contact{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}

.social a{
    margin: 7px 7px;
    color: rgba(10, 23, 136, 0.7);
    font-size: 20px;

}

.phone{
    color:rgba(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a :hover{
    color:#0b9d8a;
    transition: all ease 0.3s;
}

.navigare{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 45px;
    margin-left: 400px;
  

}

.meniu{
    text-align: center;
   
}
.meniu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.meniu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.meniu ul li a{
    text-decoration: none;
    color:teal;
}

.meniu ul li:hover{
    background-color:rgb(219, 148, 16);
    border-radius: 3px;
}

.sub-meniu
{
    display: none;
}

.meniu ul li:hover .sub-meniu{
    display: block;
    position: absolute;
    background: rgb(219, 148, 16);
    margin-top: 15px;
    margin-left: -15px;
}
.meniu ul li:hover .sub-meniu ul{
    display: block;
    margin: 10px;
}

.meniu ul li:hover .sub-meniu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius : 0;
    text-align: left;
}

.meniu ul li:hover .sub-meniu ul li:last-child{
    border-bottom: none;
}

.meniu ul li:hover .sub-meniu ul li a:hover{
    color:plum;
}

.meniu-dreapta a {
    margin: 0px 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
}
.meniu-dreapta a:hover{
    color:plum;
    transition: all ease 0.3s;
}

.fa-shopping-cart{
    position: relative;
}
.numar-produse{
    position: absolute;
    top: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.page-main h1{
    font-size: 50px;
    color:brown;
    margin-left: 350px;
}

#img1{
    float:right;
    margin-left: 50px;
    margin-right:50px;
    border-radius:50%;
}

.page-main h2{
    color:brown;
    font-size:large;
    margin-left:50px;
}

.page-main p{
    color:brown;
    margin-left: 50px;
}

.footer{
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1{
    color:brown;
    font-size: 100px;
    text-align: center;
    margin-top: 0px;
   
}
h2{
    color:brown;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
 
}
.container
{
 
    background: url('background_home_page.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#poze{
    display:grid;
    grid-template-columns: repeat(var(--columns),1fr);
     margin: 200px -40px;
 
  }
  
  li{
    grid-column-end: span 2;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
  }
  
img{
    position: absolute;
    width: 43%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
    transition-property: transform;
    transition-duration: .3s;
  }
  
  img:hover{
    transform: translateX(-40%) translateY(-70%) rotatez(25deg);
  }
  @media (min-width:450px){
    #poze{
      margin: 190px 40px;
    }
  }
  @media (min-width:600px){
    :root {
      --columns: 5;
    }
    li:nth-child(2n){
      grid-column-start:auto;
    }
    li:nth-child(4n-1){
      grid-column-start:2;
    }
  }
  @media (min-width:900px){
    :root {
      --columns: 7;
    }
    li:nth-child(4n-1){
      grid-column-start:auto;
    }
    li:nth-child(6n-2){
      grid-column-start:2;
    }
  }
  @media (min-width:1200px){
    :root {
      --columns: 9;
    }
    li:nth-child(6n-2){
      grid-column-start:auto;
    }
    li:nth-child(8n-3){
      grid-column-start:2;
    }
  }

  