body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:wheat;
    }


/*selector universal*/
*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    width:100%;
    box-shadow: 15px 15px 30px rgba(0,0,0,0.05);
    z-index: 100;
}

.social-contact{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}

.social a{
    margin: 7px 7px;
    color: rgba(10, 23, 136, 0.7);
    font-size: 20px;

}

.phone{
    color:rgba(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a :hover{
    color:#0b9d8a;
    transition: all ease 0.3s;
}

.navigare{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    margin-left: 400px;

}

.logo img{
    height: 150px;
    width: 275px;
    border-radius: 50%;

}
.meniu{
    text-align: center;
   
}
.meniu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.meniu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.meniu ul li a{
    text-decoration: none;
    color:teal;
}

.meniu ul li:hover{
    background-color:rgb(219, 148, 16);
    border-radius: 3px;
}

.sub-meniu
{
    display: none;
}

.meniu ul li:hover .sub-meniu{
    display: block;
    position: absolute;
    background: rgb(219, 148, 16);
    margin-top: 15px;
    margin-left: -15px;
}
.meniu ul li:hover .sub-meniu ul{
    display: block;
    margin: 10px;
}

.meniu ul li:hover .sub-meniu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius : 0;
    text-align: left;
}

.meniu ul li:hover .sub-meniu ul li:last-child{
    border-bottom: none;
}

.meniu ul li:hover .sub-meniu ul li a:hover{
    color:plum;
}

.meniu-dreapta a {
    margin: 0px 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.7);
}
.meniu-dreapta a:hover{
    color:plum;
    transition: all ease 0.3s;
}

.fa-shopping-cart{
    position: relative;
}
.numar-produse{
    position: absolute;
    top: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.page-main h1{
    font-size: 50px;
    color:brown;
    margin-left: 350px;
}

#img1{
    float:right;
    margin-left: 50px;
    margin-right:50px;
    border-radius:50%;
}

.page-main h2{
    color:brown;
    font-size:large;
    margin-left:50px;
}

.page-main p{
    color:brown;
    margin-left: 50px;
}
#az{
    border-radius: 50%;
    align-self: center;
    height: 500px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#spm{
    border-radius: 50%;
    align-self: center;
    height: 500px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#mm{
    border-radius: 50%;
    align-self: center;
    height: 500px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#pov_ab{
  font-size: 20px;
}

.footer{
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.flex-container img{
    height: 450px;
    width: 350px;
    border-radius: 7px;
}

.flex-container {
    display: flex;
    justify-content: center;
    height:1000px;
   align-content: space-between;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-direction: row;
}

@media (max-width: 767px) {
    /* telefon */
   .social-contact{
       display:grid;
       grid-template-columns: 1fr;
       grid-template-rows:1fr 1fr;
       background-color: burlywood;
   }
  
    .meniu ul{
        display:table-cell;
    }

    .page-main h1{
        font-size:xx-small;
        color:darkblue;

    }

    .page-main h2{
        font-size:xx-small;
        color:darkblue;
        
    }
    .flex-container{
        flex-direction: column;
    }
     
   }

@media screen and (max-width: 1280px) and (min-width: 768px){
/*tableta*/
.social-contact{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    background-color: rgb(235, 147, 33);
}

.flex-container {
    flex-direction: column;
  }

  .page-main h1{
    font-size:small;
    color:darkmagenta;

}

.page-main h2{
    font-size:small;
    color:darkmagenta;
    
}

}

#quiz-btn{
    display:block;
    position:relative;
    color: darkblue;
    font-size: 80px;
    background-color: #ddd;
     border: 1px solid #444;
     padding: 6px 10px;
    font-weight: bold;
    animation:alternate;
    animation-duration: 1s;
    box-shadow: 0px 0px 4px #00ACE6;
    margin-left: 250px;
    margin-right: 0px;
    margin-top: 200px;
    text-align: center;
    top: 50%;
    }

@keyframes pulse {
        0% { box-shadow: 0px 0px 4px #00ACE6; }
        100% { box-shadow: 0px 0px 12px #00ACE6; }
       }

 #quiz-btn:hover {
     background-color: #BBB;
     color: yellow;
    }

.main-section{
        color:#0f0f3d;
        height: 100%;
        display:grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-areas:". main-div .";
        position: relative;
        
    }

.main-div{
        grid-area:main-div;
        text-align:center;
        float: right;
        margin-right: 280px;
        margin-top: 50px;
        margin-bottom:50px;
        background-color: whitesmoke;  
        border-radius:12px;
        font-size:30px;
       
    }

 .input{
        width:50%;
        height:40px;
        text-align:center;
        opacity:0.8;
        border-radius:20px;
    }

#titlu_quiz{
        text-align: center;
        color:brown;
        font-size:xx-large;
    }

#intrebare
{

  font-size: 80px;
  
}

#formular
{
  float:left;
  margin-left: 60px;
  margin-right: 50px;
}
h3{
  color:red;
  margin-left: 50px;
  font-size: 30px;

}
       
#joc{
  text-align: center;
  font-size: 20px;
  color: brown;
}

#tasta{
  font-size: 100px;
}

#ora{
  margin-left:400px;
}
#poveste
{
  margin-left:60px;
  color:brown;
}
#povesti{
  color:red;
  margin-left: 100px;
  font-size: 35px;
}

#login-title{
    text-align: center;
    font-size: 50px;
    color:brown;
}

.login{
    
    margin-left:600px;
    font-size: 30px;
    color:brown;
}
      
     